extends ../layouts/common.pug

block content
    .d-flex.flex-wrap
        each product in products
            .card.ms-1(style='width: 18rem;')
                img.card-img-top(src= product.image)
                .card-body
                    h5.card-title= product.first_name
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                    a.btn.btn-primary(href='/cart/add/' + product.id) Go somewhere
